.quarter
  %h5 Upcoming Events
  = render "shared/upcoming_events"
.half
  Philly ALT.NET is a Philadelphia area user group interested in exploring and
  promoting the tools, ideas, and practices of the "ALT.NET" community.
  %ul
    %li= link_to "Join our discussion group", "http://tech.groups.yahoo.com/group/phillyaltnet/join"
    %li= link_to "Follow us on Twitter!", "http://twitter.com/phillyaltnet"
    %li Sponsorship
    %li Member Info/Blogs
    %li Meetings
.quarter.last
  = render "tweets"
